@import url('https://fonts.googleapis.com/css2?family=Ubuntu:ital,wght@0,300;0,400;0,500;0,700;1,300;1,400;1,500;1,700&display=swap');


* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    font-family: "Ubuntu", sans-serif;

}

body {
    display: flex;
    justify-content: center;
    align-items: center;
    min-height: 100vh;
  
    background-image: url(sii.jpg);
    background-position: center;
}

.conteiner {
    width: 420px;
    background-color: transparent;
    border: 2px solid rgba(95, 95, 95, 0.203);
    border-radius: 10px;
    color: white;
    padding: 30px 40px;
    box-shadow: 5px 5px 10px gray, -5px -5px 10px lightgray;
}

.conteiner h1{
    font-size: 36px;
    text-align: center;

}
.inputbox{
    position: relative;
    width: 100%;
   
    margin: 30px 0;
}

.in{
    width: 100%;
    height: 100%;
    background-color: transparent;
    border: 2px solid rgba(95, 95, 95, 0.203);
   
    border-radius: 40px;
    outline: none;
    font-size: 16px;
    color: white;
    padding: 20px 45px 20px 20px;

}
.in::placeholder{
    color: white;
}

.bx{
     position: absolute;
    height: 20px;
    font-size: 20px;
    transform: translateY(100%);
    p;
    
}